body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.commonPadding {
  padding: 5px;
}

.openingContent {
}

.historicalGraphs {
  display: flex;
  flex-direction: "row";
}

.historicalGraphs .graph {
  flex-basis: 45%;
}
.inFlowTable {
  border: 1px solid #000;
}

.inFlowTable th {
  border: 1px solid #000;
}
